DATABASE_URL=
PORT=3000
BASE_URL=

NODE_ENV=development
DB_POOL_MAX=10

JWT_SECRET=
JWT_EXPIRES_IN=1d

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_SECURE=false

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=